.start {
  color: orange;
}

.workout {
  color: green;
}

.rest {
  color: red;
}


section {
  > h1, > div {
    text-align: center;
  }

  .duration {
    font-size: 150px;
    min-width: 200px;
  }
}

